.navbar-dark .navbar-brand {color: rgb(255, 115, 0);
    font-family: cursive;
    font-size: 28px;}

h1 {
    color: purple;
}


.card {
    width: 40%;
    margin: 2% auto;
    padding: 2% 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    background-color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
  }
  
  .module {
    margin: 5%;
  }
  
  .countdown {
  text-align: center;
  font-size: 6rem;
  }
  
  .countdown__time {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    position: relative;
    border-radius: 6px;
    color: #000000;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .countdown__time--orange {
    color: orange;
    border: 3px solid orange;
  }
  
  .countdown__time--red {
    color: red;
    border: 3px solid red;
    animation: vibrate .5s 0s forwards;
  }
  
  
  
  button {
    padding: 2% 6%;
    background-color: purple;
    color: #ffffff;
    font-size: 25%;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    margin: 2em;
  }
  
  button:hover {
    background-color: #666666;
    transform:translateY(-1px);
  }




  /* The footer is fixed to the bottom of the page */
 
footer{

    bottom: 0;
}
 
 

.footer-distributed{
    background-color:  rgb(255, 115, 0);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
    width: 30%;
}
 
.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 10;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
    width: 35%;
}
 
.footer-distributed h3 span{
    color:  purple;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
 
.footer-distributed .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
    width: 35%;
}
 
 
.footer-distributed .footer-center i{
    background-color:  purple;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
 
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}
 
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
 
.footer-distributed .footer-center p a{
    color:   purple;
    text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
    width: 30%;
}
 
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  purple;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
 
.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
    margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  purple;
    border-radius: 2px;
 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
 
    margin-right: 3px;
    margin-bottom: 5px;
}



